{% extends '@search/base.html.twig' %}

{% block title %}Search!{% endblock %}

{% block body %}

    <h1>Search</h1>
    <ul>
        <li> <a href="{{ path('search_book_overview') }}">Books</a></li>
    </ul>

{% endblock %}